<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            line-height: 1;
            margin-left: auto;
            margin-right: auto;
            width: 800px;
        }

        h2 {
            font-size: 12pt;
            font-weight: bold;
        }

        p {
            font-size: 10pt;
        }
    </style>
    <title></title>
</head>
<body>
<p>
    ЛИСТ ДИНАМИЧЕСКОГО НАБЛЮДЕНИЯ ЗА "ЭКСТРЕННЫМ" БОЛЬНЫМ<br>
    ДАТА ${diaryDateTime}<br>
    Состояние : ${diaryState} Динамика: ${diaryDynamicSate}.<br>
    ДН: ${diaryBreath} ст,t: ${diaryTemperature},дых: ${diaryBreathRate},пульс: ${diaryHeartRate}<br>
    Кожа: ${diarySkin} ${diarySkinRashes} ${diarySkinExtra} ${diarySkinExtraType}<br>
    Вдох, выдох: ${diaryBioBreath}. Хрипы в легких: ${diaryWheezing} ${diaryWheezingExtra}<br>
    Тоны сердца: ${diaryHeartTone} ${diaryHeartToneExtra}<br>
    Живот: ${diaryStomach} ${diaryFeeding} ${diaryFeedingCount} ${diaryFeedingType} ${diaryFeedingTypeMix} ${diaryFeedingTypeExtra} ${diaryFeedingProbe}<br>
    Мочился: ${diaryUrinated} ${diaryUrinatedExtra}. Стул: ${diaryDefecation} ${diaryDefecationExtra}<br>
    Дополнительные данные: ${diaryExtraData}<br>
    Назначено: ${diaryAppointed}<br>
    Врач: ${diaryDoctor}
</p>

<p>
    ЛИСТ ДИНАМИЧЕСКОГО НАБЛЮДЕНИЯ ЗА "ЭКСТРЕННЫМ" БОЛЬНЫМ<br>
    ДАТА ${diaryDateTime2}<br>
    Состояние : ${diaryState2} Динамика: ${diaryDynamicSate2}.<br>
    ДН: ${diaryBreath2} ст,t: ${diaryTemperature2},дых: ${diaryBreathRate2},пульс: ${diaryHeartRate2}<br>
    Кожа: ${diarySkin2} ${diarySkinRashes2} ${diarySkinExtra2} ${diarySkinExtraType2}<br>
    Вдох, выдох: ${diaryBioBreath2}. Хрипы в легких: ${diaryWheezing2} ${diaryWheezingExtra2}<br>
    Тоны сердца: ${diaryHeartTone2} ${diaryHeartToneExtra2}<br>
    Живот: ${diaryStomach2} ${diaryFeeding2} ${diaryFeedingCount2} ${diaryFeedingType2} ${diaryFeedingTypeMix2} ${diaryFeedingTypeExtra2} ${diaryFeedingProbe2}<br>
    Мочился: ${diaryUrinated2} ${diaryUrinatedExtra2}. Стул: ${diaryDefecation2} ${diaryDefecationExtra2}<br>
    Дополнительные данные: ${diaryExtraData2}<br>
    Назначено: ${diaryAppointed2}<br>
    Врач: ${diaryDoctor2}
</p>

<p>
    ЛИСТ ДИНАМИЧЕСКОГО НАБЛЮДЕНИЯ ЗА "ЭКСТРЕННЫМ" БОЛЬНЫМ<br>
    ДАТА ${diaryDateTime3}<br>
    Состояние : ${diaryState3} Динамика: ${diaryDynamicSate3}.<br>
    ДН: ${diaryBreath3} ст,t: ${diaryTemperature3},дых: ${diaryBreathRate3},пульс: ${diaryHeartRate3}<br>
    Кожа: ${diarySkin3} ${diarySkinRashes3} ${diarySkinExtra3} ${diarySkinExtraType3}<br>
    Вдох, выдох: ${diaryBioBreath3}. Хрипы в легких: ${diaryWheezing3} ${diaryWheezingExtra3}<br>
    Тоны сердца: ${diaryHeartTone3} ${diaryHeartToneExtra3}<br>
    Живот: ${diaryStomach3} ${diaryFeeding3} ${diaryFeedingCount3} ${diaryFeedingType3} ${diaryFeedingTypeMix3} ${diaryFeedingTypeExtra3} ${diaryFeedingProbe3}<br>
    Мочился: ${diaryUrinated3} ${diaryUrinatedExtra3}. Стул: ${diaryDefecation3} ${diaryDefecationExtra3}<br>
    Дополнительные данные: ${diaryExtraData3}<br>
    Назначено: ${diaryAppointed3}<br>
    Врач: ${diaryDoctor3}
</p>

</body>
</html>