<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            line-height: 1;
        }

        h1 {
            font-size: 14pt;
            text-align: center;
            font-weight: bold;
        }

        h2 {
            font-size: 12pt;
            font-weight: bold;
        }

        p {
            font-size: 10pt;
        }
    </style>
    <title></title>
</head>
<body>
ЛИСТ ДИНАМИЧЕСКОГО НАБЛЮДЕНИЯ ЗА "ЭКСТРЕННЫМ" БОЛЬНЫМ
ДАТА ${diaryDateTime}
______час_____мин. Состояние : ${diaryState}
Динамика: ${diaryDynamicSate}. Рвота.Боли
в животе.ДН ${diaryBreath} ст,t diaryTemperature,дых ${diaryBreathRate},пульс ${diaryHeartRate}
Кожа: ${diarySkin} ${diarySkinRashes} ${diarySkinExtra} ${diarySkinExtraType}
Вдох, выдох: ${diaryBioBreath}. Хрипы в легких ${diaryWheezing} ${diaryWheezingExtra}
Тоны сердца: ${diaryHeartTone} ${diaryHeartToneExtra}
Живот: ${diaryStomach} ${diaryFeeding} ${diaryFeedingCount} ${diaryFeedingType} ${diaryFeedingTypeMix} ${diaryFeedingTypeExtra} ${diaryFeedingProbe}
брюшины: ОТСУТСТВУЕТ В DTO . Мочился: ${diaryUrinated} ${diaryUrinatedExtra}. Стул ${diaryDefecation} ${diaryDefecationExtra}
Дополнительные данные ${diaryExtraData}
Назначено ${diaryAppointed}
Врач ОТСУТСТВУЕТ В DTO


ЛИСТ ДИНАМИЧЕСКОГО НАБЛЮДЕНИЯ ЗА" ЭКСТРЕННЫМ" БОЛЬНЫМ
ДАТА ${diaryDateTime}
______час_____мин. Состояние : удовлетв.,ср.тяжелое, тяжелое
Динамика: без динамики,  положительная, отрицательн. Рвота.Боли
в животе.ДН_________ст,t_______,дых________,пульс______________
Кожа: сыпь___________, розовая,бледная, мраморность,иктеричная
Вдох, выдох: форсирован, равномерен. Хрипы в легких____________
Тоны сердца: ясные, приглушены, учащены, аритмия, ритмичные
Живот: мягкий, болезненный, безболезненный, симптомы раздражения
брюшины: да, нет. Мочился: да, нет. Стул_______________________
_______________________________________________________________
Дополнительные данные__________________________________________
_______________________________________________________________
Назначено______________________________________________________
______________________________________________________________
Врач__________________________________


ЛИСТ ДИНАМИЧЕСКОГО НАБЛЮДЕНИЯ ЗА "ЭКСТРЕННЫМ" БОЛЬНЫМ
ДАТА________
______час_____мин. Состояние : удовлетв.,ср.тяжелое, тяжелое
Динамика: без динамики,  положительная, отрицательн. Рвота.Боли
в животе.ДН_________ст,t_______,дых________,пульс______________
Кожа: сыпь___________, розовая,бледная, мраморность,иктеричная
Вдох, выдох: форсирован, равномерен. Хрипы в легких____________
Тоны сердца: ясные, приглушены, учащены, аритмия, ритмичные
Живот: мягкий, болезненный, безболезненный, симптомы раздражения
брюшины: да, нет. Мочился: да, нет. Стул_______________________
_______________________________________________________________
Дополнительные данные__________________________________________
_______________________________________________________________
Назначено______________________________________________________
_______________________________________________________________
Врач__________________________________

</body>
</html>