<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            line-height: 15px;
        }

        h1 {
            font-size: 18px;
            text-align: center;
            font-weight: bold;
        }

        h2 {
            font-size: 16px;
            font-weight: bold;
        }

        p {
            font-size: 14px;
            text-align: left;
        }
    </style>
    <title></title>
</head>
<body>
    Дата поступления ${receiptDate}<br>
    Время поступления ${arrivalTime}<br>

    <h1>Первичный осмотр при поступлении в ОПНиНД</h1><br>
    <br>
    Поступает ${comeFurtherTreatmentAndExamination} для дальнейшего лечения и обследования<br>

    Ребенок ${fullNameChild}<br>
    Дата рождения ребенка ${birthday}<br>
    Родился в ${born} ${born>bornExtra}<br>
    Возраст при поступлении ${admissionAgeMonth} мес, ${admissionAgeDay} дня(ей)<br>
    Поступает из ${comesFrom}<br>
    Транспортировку в отделение перенес удовлетворительно.<br>
    <br>
    ЭПИД номер ${EPIDNumber}/ ${EPIDNumberDate}/ ${EPIDNumberDiagnosis}<br>
    Группа крови ребенка: ${childBloodType}<br>
    <br>
    <h2>Данные анамнеза матери:</h2>
    Мать: ${motherFullName}<br>
    Дата рождения матери: ${motherDateBirth}<br>
    Семейное положение: ${familyStatus}<br>
    Заболевания матери: ${maternalIllnesses}<br>
    Группа крови матери: ${motherBloodGroup} Наличие антиэритроцитарных антител: ${erythrocyteBody}<br>
    Обследование на ВИЧ: мать: ${HIVTestingMother} отец: ${HIVTestingFather}<br>
    Инфекционный анамнез матери: ${maternalInfectiousHistory}<br>
    <br>
    <h2>Течение беременности и родов:</h2>
    <strong>Течение беременности:</strong><br>
    Беременность ${pregnancy}<br>
    Роды ${childbirth}<br>
    Предыдущие беременности: ${previousPregnancies} ${previousPregnancies>previousPregnanciesExtra}<br>
    Данные о сибсах: ${dataSiblings}<br>
    Особенности течения беременности: ${featuresCoursePregnancy}<br>
    Стероидная профилактика: ${steroidProphylaxis} ${steroidProphylaxis>steroidProphylaxisExtra}<br>
    <br>
    <strong>Течение родов:</strong>
    <br>
    Срок гестации: ${gestationalAge} недель <br>
    Особенности течения родов: ${featuresCourseChildbirth}<br>
    Предлежание: ${presentation} ${headPresentation}<br>
    Способ родоразрешения: ${methodDelivery} ${methodDeliveryType}<br>
    Продолжительность родов ${durationLabor}; потужной период ${strainingPeriod};<br>
    безводный период: ${anhydrousPeriod}<br>
    Воды: ${waters} ${watersVolume}<br>
    Пол ${gender}<br>
    Вес при рождении: ${birthWeight} гр; длина ${length} см; окружность головы ${headCircumference} см;<br>
    окружность груди ${chestCircumference} см<br>
    Оценка по Апгар: ${apgarScore}<br>
    <br>
    <strong>Объем помощи в родовом зале:</strong><br>
    Начальные шаги: ${firstHelp} <br>
    Вид начальной помощи: ${firstHelpType}, ${anotherFirstHelp}<br>
    Вентиляция с положительным давлением: ${ventilation}; Вид вентиляции: ${ventilation>ventilationType}; Длительность: ${ventilation>ventilationTime} минут;<br>
    Интубация трахеи: ${intubation}; На ${intubation>intubationTime} минуте;
    Непрямой массаж сердца: ${heartMassage}; С ${heartMassage>heartMassageTime} минуты ${heartMassage>heartMassageInfo} <br>
    Адреналин: ${adrenalin};  На ${adrenalin>adrenalinTime} минуте ${adrenalin>adrenalinCount} введений;
    Физраствор: ${saline}; На ${saline>salineTime} минуте ${saline>salineCount} мг <br>
    Дополнительно: ${amountAssistanceDeliveryRoom>amountAssistanceDeliveryRoom}<br>
    <br>
    <strong>Анамнез заболевания:</strong> <br>
    ${diseaseHistory}<br> <br>
    <strong>Данные обследования, скрининг и прививки:</strong><br>
    Выводятся все таблицы из блока 6 и 7, имеющие внесенные данные<br>
    <br>
    <strong>До ОПН проведено лечение:</strong><br>
    Респираторная терапия: ${respiratorySupport}, дата: ${respiratorySupportStart} - ${respiratorySupportEnd} <br>
    Медикаментозная терапия: ${drugTherapy} <br>
    Вскармливание: ${feeding} <br>
    Венозный доступ: ${venousAccess}, дата: ${venousAccessStart} - ${venousAccessEnd}, дополнительно:
     ${venousAccessExtra} <br>
    Фототерапия: ${phototherapy}, дата: ${phototherapyStart} - ${phototherapyEnd} <br>
    Гипотермия: ${hypothermia}, дата: ${hypothermiaStart} - ${hypothermiaEnd} <br>
    <br>
    <h2>Объективный статус на момент поступления:</h2>
    Состояние при поступлении ${statusAtAdmission} <br>
    Тяжесть обусловлена ${severityDue} <br>
    Реакция на осмотр ${reactionInspection}, ${additionallyReactionInspection} <br>
    Судороги ${convulsions}, ${convulsionsType} <br>
    Мышечный тонус ${muscleTone}, ${additionallyMuscleTone} <br>
    Рефлексы новорожденного ${reflexesNewborn} <br>
    Бульбарные нарушения ${bulbarDisorders} <br>
    Форма черепа ${skullShape}, ${additionallySkullShape} <br>
    Кефалогематомы ${cephalhematomas}, ${cephalhematomasSize} (см * см), ${cephalhematomasLocation} <br>
    Швы черепа ${skullSutures}, ${additionallySkullSutures} <br>
    Большой родничок ${bigFontanel}, ${bigFontanelSize} (см * см) <br>
    Менингеальные симптомы ${meningealSymptoms}, ${additionallyMeningealSymptoms} <br>
    Другое ${statusAtAdmissionOther} <br>
    <br>
    <strong>Опорно-двигательный аппарат:</strong>
    <br>
    Кости скелета ${skeletonBones} <br>
    Кости черепа ${skullBones} <br>
    Ключицы ${clavicle} <br>
    Костная мозоль ${clavicleCorn}, размер ${clavicleCornSize} (см * см), ${clavicleCornLocation} <br>
    Суставы ${joints}, ${additionallyJoints} <br>
    <br>
    <strong>Кожный покров и слизистые:</strong> <br>
    Цвет кожи ${skinColor}, ${skinColorType} <br>
    Повреждения ${damage}, ${additionallyDamage} <br>
    Гематомы ${hematomas}, ${additionallyHematomas} <br>
    Высыпания ${rashes}, ${rashesLocation}, ${rashesProgres} <br>
    Патологические образования ${pathologicalFormations}, ${additionallyPathologicalFormations},
        ${pathologicalFormationsLocation}, ${pathologicalFormationsType}<br>
    Шелушение ${peeling}, ${peelingLocation}, ${peelingDescription} <br>
    Отеки ${edema}, ${additionallyEdema}, ${edemaType} <br>
    Эластичность ${elasticity} <br>
    Тургор ${turgor} <br>
    Пуповинный остаток ${cordRemnant} <br>
    Пупочная ранка ${umbilicalWound} <br>
    Слизистые ${mucous}, ${mucousHumidity} <br>
    <br>
    <strong>Дыхательная система:</strong> <br>
    Кислородозависимость ${oxygenDependence} <br>
    Форма грудной клетки ${chestShape}, ${chestShapeExtra} <br>
    Дыхание через нос ${breathingThroughNose} <br>
    Биомеханика дыхания ${biomechanicsRespiration} <br>
    Аускультативная картина ${auscultatoryPicture}, ${auscultatoryPictureExtra}, ${auscultatoryPictureExtraText} <br>
    Хрипы ${wheezing} <br>
    Крепитация ${crepitus} <br>
    Частота дыханий ${respirationRate} минут <br>
    <br>
    <strong>Сердечно-сосудистая система:</strong> <br>
    Гемодинамика ${hemodynamics} <br>
    Тоны сердца ${heartSounds} <br>
    Ритм сердечных сокращений ${heartRate} <br>
    Шум ${noise}, ${noiseExtra} <br>
    Пульс определяется ${pulseDetermined} <br>
    Симптом бледного пятна ${paleSpotSymptom} <br>
    <br>
    <strong>Пищеварительная система:</strong> <br>
    Живот ${stomach} <br>
    Перистальтика ${peristalsis} <br>
    Печень ${liver, ${liverRibs} см, ${liverSize} (см * см) <br>
    Селезенка ${spleen}, ${spleenSize} (см * см) <br>
    Кормление ${feeding},  ${feedingCount} мл, ${feedingTime} раз в сутки <br>
    Смесь ${feedName} <br>
    Способ кормления ${feedingType}, ${feedingTypeTime} часа <br>
    Стул ${bowelMovement}, ${bowelMovementCount} раз в сутки, ${bowelMovementType} <br>
    Срыгивания ${regurgitation} <br>
    <br>
    <strong>Мочевыделительная система:</strong> <br>
    Почки ${kidneys} <br>
    Диурез ${diuresis}, ${diuresisExtra} <br>
    Стимуляция диуреза ${stimulationDiuresis} <br>
    <br>
    <strong>Наружные половые органы:</strong> <br>
    Строение наружных половых органов ${structureExternalGenitalia}, ${structureExternalGenitaliaGender},
        ${structureExternalGenitaliaExtra}<br>
    Особенности ${externalGenitalsFeatures}<br>
    <br>
    <strong>Основные синдромы при поступлении:</strong> <br>
    ${mainSyndromesAdmission} <br>
    ${anamnez}<br>
    ${clinical} <br>
    ${labTech} <br>
    ${mainDiag} <br>
    ${mainComplication} <br>
    ${mainComment} <br>
    ${commonComplication} <br>
    ${medTechManypulations} <br>
    ${otherDisease} <br>
    ${associatedDisease} <br>
    ${backgroundDisease} <br>

    План обследования ${surveyPlan}; Дополнительно: ${surveyPlan>surveyPlanExtra} <br>
    План ухода ${carePlan} <br>
    План лечения ${treatmentPlan} <br>
    Парентеральное питание ${parenteralNutrition} <br>
    Расчет питания ${nutritionCalculation} <br>
    <br>
    Подпись врача ${fullName}<br>

</body>
</html>